<!DOCTYPE html>
<html>
<head>
<title>Vijf Talen in Vijf Dagen</title>
<style>
body, 
input,
textarea { font: 16px/2.0 "LucidaGrande", "Lucida Grande", "Lucida Sans Unicode", lucida, sans-serif; }
pre { font: 14px/1.5 "Menlo", "Consolas", serif; }
body {
  padding: 14px;
}
</style>
</head>

<body>
<h1>Vijf Talen in Vijf Dagen</h1>
</body>
</html>